.projects-sub {
    margin-bottom: 1.5em;
}

.projects-sub-role {
    margin-bottom: 0;
}

.projects-sub-role--mini {
    font-size: 0.8em;
}

.achievements {
    margin-bottom: 0;
}

.conferences {
    margin-bottom: 0;
}

